* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Stalemate&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

@font-face {
  font-family: "Jakarta Vise";
  src: url("/assets/fonts/Jakarta\ Vise.ttf");
  src: local("☺"), url("../fonts/Jakarta\ Vise.ttf") format("ttf"),
    url("../fonts/Jakarta\ Vise.ttf") format("truetype");
}

@font-face {
  font-family: "JMH Typewriter";
  src: url("/assets/fonts/JMH\ Typewriter.ttf");
  src: local("☺"), url("../fonts/Jakarta\ Vise.ttf") format("ttf"),
    url("../fonts/JMH\ Typewriter.ttf") format("truetype");
}

$mobile: 380px;
$tablet: 786px;
$desktop: 1024px;

body {
  max-width: 1920px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c"
    "d d d d"
    "e e e e"
    "f f g g"
    "h i j k";

  grid-gap: 10px;

  img {
    width: 100%;
  }

  article,
  section {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 30px;

    h2 {
      font-family: "JMH Typewriter";
      margin: 30px 0;
      font-size: 40px;
    }

    h3 {
      font-family: "JMH Typewriter";
      font-weight: 100;
      margin-top: -25px;
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "d d"
      "e e"
      "g g"
      "f f"
      "h h"
      "i i"
      "j j"
      "k k";

    article,
    section {
      h2 {
        font-size: 5vw;
      }
      h3 {
        font-size: 3vw;
      }

      h2 {
        font-size: 5vw;
      }
      h3 {
        font-size: 3vw;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i"
      "j"
      "k";

    article,
    section {
      h2 {
        font-size: 10vw;
      }
      h3 {
        font-size: 7vw;
      }
    }
  }
}

//MAIN-HEADER

.main-header {
  position: relative;
  display: flex;
  justify-content: center;
  grid-area: a;
  background-image: url(../img/background.jpeg);
  background-color: #e7e7e74b;
  background-blend-mode: hue;
  background-size: cover;
  background-position: center;
  height: 60vh;
  overflow: hidden;

  svg {
    .cls-1 {
      opacity: 0.5;
    }
    .cls-2 {
      fill: transparent;
    }
    .cls-2,
    .cls-3 {
      stroke: #f2ffb4;
      stroke-miterlimit: 10;
      stroke-width: 4px;
    }
    .cls-2,
    .cls-4 {
      opacity: 0.5;
    }
    .cls-3 {
      fill: #fbf8c4;
      opacity: 1;
    }
  }

  //LOGO OG TITEL

  .logo-container {
    position: absolute;
    top: 60px;
    text-align: center;
    .logo {
      margin: auto;
      margin-bottom: -15px;
      width: 50%;
      svg {
        backdrop-filter: blur(2px);
        width: 100%;
      }
    }

    figcaption {
      h1 {
        margin: 20px 15px;
        font-family: "Jakarta Vise";
        font-weight: 100;
        font-size: 80px;
        margin-right: 15px;
        letter-spacing: 3px;
        color: rgba(0, 0, 0, 0.822);
      }
    }

    .quote {
      font-family: "JMH Typewriter";
      font-weight: lighter;
      margin-top: -30px;

      #words {
        font-size: 20px;
        padding: 0 10px;
        margin-top: 0px;

        #word1 {
          position: absolute;
          margin-left: -2100px;
          animation: slidein1 3s;
          animation-delay: 1.5s;
          animation-fill-mode: forwards;
        }
        #word2 {
          position: absolute;
          margin-left: -2000px;
          animation: slidein2 2s;
          animation-delay: 4s;
          animation-fill-mode: forwards;
          padding-bottom: 10px;
        }
        #word3 {
          position: absolute;
          margin-left: -2000px;
          animation: slidein3 3s;
          animation-delay: 2;
          animation-fill-mode: forwards;
        }
      }

      @media screen and (max-width: $mobile) {
        #words {
          font-size: 5vw;
          margin: 0 20px;
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .logo-container {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .main-header {
    height: 65vh;
  }
}

@media screen and (max-width: $tablet) {
  .main-header {
    height: 60vh;
  }
}

//FREMTIDENS BÆREDYGTIGE LANDBRUG

.future {
  grid-area: b;
  figure {
    font-family: "Open Sans", sans-serif;
    div {
      width: 55%;
      margin: auto;
      img {
        width: 100%;
      }
    }

    @media screen and (max-width: $mobile) {
      div {
        width: 80%;
      }
    }

    figcaption {
      margin-top: 20px;
      padding: 0 40px;
      display: flex;
      justify-content: center;
      div {
        width: 40vw;
        padding: 0 60px;
        margin: 10px;
        p {
          font-size: 15px;
        }
      }

      @media screen and (max-width: $mobile) {
        div {
          width: 100%;
          h4 {
            font-size: 17px;
          }
          padding: 5px;
        }
      }
      h4 {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }

    @media screen and (max-width: $tablet) {
      figcaption {
        padding: 0;
      }
    }

    @media screen and (max-width: $mobile) {
      figcaption {
        padding: 0 5px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

//BÆREDYGTIGHED OG OMTANKE

.recycle {
  grid-area: c;
}

.recycle-items {
  font-family: "Open Sans", sans-serif;
  grid-area: d;
  display: grid;
  grid-template-columns: 13vw 13vw 13vw 13vw;
  grid-gap: 10px;
  margin: auto;
  figure {
    figcaption {
      padding: 0 5px;
      h4 {
        margin: 10px;
        font-size: 20px;
        text-align: center;
      }

      p {
        font-size: 12px;
        text-align: start;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .recycle-items {
    display: grid;
    grid-template-columns: 40vw 40vw;
  }
}

@media screen and (max-width: $mobile) {
  .recycle-items {
    display: grid;
    grid-template-columns: 90vw;
  }
}

.contact {
  grid-area: e;
  h3 {
    line-height: 30px;
    span {
      font-weight: 600;
    }
  }
}

@media screen and (max-width: $mobile) {
  .contact {
    h3 {
      line-height: 30px;
    }
  }
}

.map {
  grid-area: f;
  display: flex;
  justify-content: center;
  #map {
    width: 100%;
    margin: 0 20px;
    header {
      text-align: center;
      margin: 10px;
      h2 {
        font-size: 30px;
      }
    }
  }
}

// FORM
.form {
  grid-area: g;
  display: flex;

  form {
    width: 30vw;
    text-align: center;

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    input {
      width: 100%;
      margin: 10px 0;
      padding: 5px;
    }

    .sendnumber {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      padding: 5px 0;
      margin-bottom: 5px;

      label {
        margin-top: 5px;
      }

      #number {
        height: 30px;
      }
      #accept {
        width: 40px;
        height: 30px;
      }
    }

    textarea {
      width: 100%;
      height: 200px;
    }

    #send {
      width: 50%;
      margin: 35px 0;
      height: 40px;
      font-size: 15px;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: $tablet) {
  .form {
    margin: auto;
    form {
      width: 50vw;
    }
  }
}

@media screen and (max-width: $mobile) {
  .form {
    margin: auto;
    form {
      width: 100vw;
    }
  }
}

.item8 {
  grid-area: h;
}
.item9 {
  grid-area: i;
}
.item10 {
  grid-area: j;
}
.item11 {
  grid-area: k;
}

#burger-menu {
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  margin: 50px 40px 20px 20px;
  height: 27px;
  width: 27px;
  overflow: visible;
  z-index: 2;
  background: none;
  span {
    background: rgb(0, 0, 0);
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    z-index: 3;
    transition: 0.3s ease-in-out;
    width: 27px;
    &:before {
      background: rgb(0, 0, 0);
      display: block;
      height: 2px;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
      left: 0px;
      top: -10px;
      width: 27px;
    }
    &:after {
      background: rgb(0, 0, 0);
      display: block;
      height: 2px;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
      left: 0px;
      top: 10px;
      width: 27px;
    }
  }
}
#burger-menu.close {
  margin: 50px 40px 20px 20px;
  span {
    transform: rotate(-45deg);
    width: 27px;
    background: rgb(255, 255, 255);

    &:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
      background: rgb(255, 255, 255);
    }
    &:after {
      background: rgb(255, 255, 255);
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
    }
  }
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
  li {
    list-style: none;
  }
  a {
    color: #fff;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
  }
}
#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.74);
}

.cls-1 {
  fill: #dbc77a;
}
.cls-2 {
  fill: #b4a364;
}
.cls-3 {
  fill: #ffe78e;
}
.cls-4 {
  fill: #99c547;
}

.cls-5 {
  fill: #b9ee56;
}
.cls-6 {
  fill: #e8ff6e;
}
.cls-7 {
  fill: #769837;
}
.cls-8 {
  fill: #2c2c2c;
}
