* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Stalemate&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

$mobile: 380px;
$tablet: 786px;
$desktop: 1024px;

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c"
    "d e f g"
    "h i j j"
    "k k k k";

  grid-gap: 10px;

  img {
    width: 100%;
  }

  article {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

    h2 {
      margin: 30px 0;
      font-size: 35px;
    }

    h3 {
      font-weight: 100;
      margin-top: -25px;
      margin-bottom: 40px;
      font-size: 25px;
    }
  }

  @media screen and (max-width: $mobile) {
    article {
      h2 {
        font-size: 6vw;
      }
      h3 {
        font-size: 5vw;
      }

      .header {
        h2 {
          font-size: 6vw;
        }
        h3 {
          font-size: 5vw;
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    article {
      h2 {
        font-size: 5vw;
      }
      h3 {
        font-size: 3vw;
      }

      .header {
        h2 {
          font-size: 5vw;
        }
        h3 {
          font-size: 3vw;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "d e"
      "f g"
      "h i"
      "j j"
      "k k";
  }
}

@media screen and (max-width: $mobile) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i"
      "j"
      "k";
  }
}

.main-header {
  position: relative;
  display: flex;
  justify-content: center;
  grid-area: a;
  background-image: url(../img/background.jpeg);
  background-color: #e7e7e74b;
  background-blend-mode: hue;
  background-size: cover;
  background-position: center;
  height: 60vh;
  overflow: hidden;

  svg {
    .cls-1 {
      opacity: 0.5;
    }
    .cls-2 {
      fill: transparent;
    }
    .cls-2,
    .cls-3 {
      stroke: #f2ffb4;
      stroke-miterlimit: 10;
      stroke-width: 4px;
    }
    .cls-2,
    .cls-4 {
      opacity: 0.5;
    }
    .cls-3 {
      fill: #fbf8c4;
      opacity: 1;
    }
  }

  .logo-container {
    position: absolute;
    top: 60px;
    text-align: center;
    .logo {
      margin-bottom: -15px;
      svg {
        backdrop-filter: blur(2px);
        width: 170px;
      }
    }

    figcaption {
      h1 {
        font-family: "Stalemate", cursive;
        font-size: 80px;
        margin-right: 15px;
        letter-spacing: 3px;
        color: rgba(0, 0, 0, 0.623);
      }
    }

    .quote {
      font-family: "Open Sans", sans-serif;
      font-weight: lighter;
      margin-top: -30px;
      #focus {
        font-size: 22px;
        margin-bottom: 10px;
        display: inline-block;
        animation: showup 15s;
        animation-fill-mode: forwards;
        padding: 0;
      }

      #words {
        font-size: 20px;
        padding: 0;
        margin-top: 0px;

        #word1 {
          position: absolute;
          margin-left: -2100px;
          animation: slidein1 4s;
          animation-delay: 1.5s;
          animation-fill-mode: forwards;
        }
        #word2 {
          position: absolute;
          margin-left: -2000px;
          animation: slidein2 3s;
          animation-delay: 4s;
          animation-fill-mode: forwards;
          padding-bottom: 10px;
        }
        #word3 {
          position: absolute;
          margin-left: -2000px;
          animation: slidein3 4s;
          animation-delay: 4.5;
          animation-fill-mode: forwards;
        }
      }

      @media screen and (max-width: $mobile) {
        #words {
          font-size: 5vw;
          margin: 0 20px;
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .logo-container {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .main-header {
    height: 65vh;
  }
}

@media screen and (max-width: $tablet) {
  .main-header {
    height: 60vh;
  }
}

.future {
  grid-area: b;
  text-align: center;

  .header {
  }

  @media screen and (max-width: $mobile) {
  }

  @media screen and (max-width: $tablet) {
    .header {
      h2 {
        font-size: 3.5vw;
      }
      h3 {
        font-size: 3vw;
      }
    }
  }

  figure {
    font-family: "Open Sans", sans-serif;

    img {
      width: 100%;
      padding: 0 40px;
    }

    @media screen and (max-width: $mobile) {
      img {
        margin: 20px 0;
      }
    }

    figcaption {
      margin-top: 20px;
      padding: 0 60px;
      display: flex;
      justify-content: center;
      div {
        width: 30%;
        padding: 0 40px;
        p {
          font-size: 15px;
        }
      }

      @media screen and (max-width: $tablet) {
        div {
          width: 50%;
        }
      }

      @media screen and (max-width: $mobile) {
        div {
          width: 100%;
          h4 {
            font-size: 17px;
          }
          padding: 5px;
        }
      }
      h4 {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }

    @media screen and (max-width: $tablet) {
      figcaption {
        padding: 0;
      }
    }

    @media screen and (max-width: $mobile) {
      figcaption {
        padding: 0 5px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.vision {
  grid-area: c;
}

.item4 {
  grid-area: d;
}
.item5 {
  grid-area: e;
}
.item6 {
  grid-area: f;
}
.item7 {
  grid-area: g;
}
.item8 {
  grid-area: h;
}
.item9 {
  grid-area: i;
}
.item10 {
  grid-area: j;
}
.item11 {
  grid-area: k;
}

#burger-menu {
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  margin: 50px 40px 20px 20px;
  height: 27px;
  width: 27px;
  overflow: visible;
  z-index: 2;
  background: none;
  span {
    background: rgb(0, 0, 0);
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    z-index: 3;
    transition: 0.3s ease-in-out;
    width: 27px;
    &:before {
      background: rgb(0, 0, 0);
      display: block;
      height: 2px;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
      left: 0px;
      top: -10px;
      width: 27px;
    }
    &:after {
      background: rgb(0, 0, 0);
      display: block;
      height: 2px;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
      left: 0px;
      top: 10px;
      width: 27px;
    }
  }
}
#burger-menu.close {
  margin: 50px 40px 20px 20px;
  span {
    transform: rotate(-45deg);
    width: 27px;
    background: rgb(255, 255, 255);

    &:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
      background: rgb(255, 255, 255);
    }
    &:after {
      background: rgb(255, 255, 255);
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
    }
  }
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
  li {
    list-style: none;
  }
  a {
    color: #fff;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
  }
}
#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.74);
}

.cls-1 {
  fill: #dbc77a;
}
.cls-2 {
  fill: #b4a364;
}
.cls-3 {
  fill: #ffe78e;
}
.cls-4 {
  fill: #99c547;
}

#topleaf {
  animation: blow1 2s infinite alternate;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes blow1 {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(-40deg) rotateX(10deg);
  }
}

#middleleafright {
  animation: blow2 1s infinite alternate;
  transform-origin: bottom left;
  transform-box: fill-box;
}

@keyframes blow2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

#leftbottomforstleaf {
  animation: blow3 3s infinite alternate;
  transform-origin: left bottom;
  transform-box: fill-box;
}

@keyframes blow3 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}
.cls-5 {
  fill: #b9ee56;
}
.cls-6 {
  fill: #e8ff6e;
}
.cls-7 {
  fill: #769837;
}
.cls-8 {
  fill: #2c2c2c;
}
