@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Stalemate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Jakarta Vise";
  src: url("/assets/fonts/Jakarta Vise.ttf");
  src: local("☺"), url("../fonts/Jakarta Vise.ttf") format("ttf"), url("../fonts/Jakarta Vise.ttf") format("truetype");
}
@font-face {
  font-family: "JMH Typewriter";
  src: url("/assets/fonts/JMH Typewriter.ttf");
  src: local("☺"), url("../fonts/Jakarta Vise.ttf") format("ttf"), url("../fonts/JMH Typewriter.ttf") format("truetype");
}
body {
  max-width: 1920px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "a a a a" "b b b b" "c c c c" "d d d d" "e e e e" "f f g g" "h i j k";
  grid-gap: 10px;
}
.grid-container img {
  width: 100%;
}
.grid-container article,
.grid-container section {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 30px;
}
.grid-container article header h2,
.grid-container section header h2 {
  font-family: "JMH Typewriter";
  margin: 30px 0;
  font-size: 40px;
}
.grid-container article header h3,
.grid-container section header h3 {
  font-family: "JMH Typewriter";
  font-weight: 100;
  margin-top: -25px;
  margin-bottom: 20px;
  font-size: 20px;
}

@media screen and (max-width: 786px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a a" "b b" "c c" "d d" "e e" "g g" "f f" "h h" "i i" "j j" "k k";
  }
  .grid-container article h2,
.grid-container section h2 {
    font-size: 5vw;
  }
  .grid-container article h3,
.grid-container section h3 {
    font-size: 3vw;
  }
  .grid-container article h2,
.grid-container section h2 {
    font-size: 5vw;
  }
  .grid-container article h3,
.grid-container section h3 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 380px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" "c" "d" "e" "g" "f" "h" "i" "j" "k";
  }
  .grid-container article h2,
.grid-container section h2 {
    font-size: 10vw;
  }
  .grid-container article h3,
.grid-container section h3 {
    font-size: 7vw;
  }
}
.main-header {
  grid-area: a;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(../img/background.jpeg);
  background-color: #e7e7e74b;
  background-blend-mode: hue;
  background-size: cover;
  background-position: center;
  height: 60vh;
  overflow: hidden;
}
.main-header svg .cls-1 {
  opacity: 0.5;
}
.main-header svg .cls-2 {
  fill: transparent;
}
.main-header svg .cls-2,
.main-header svg .cls-3 {
  stroke: #f2ffb4;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}
.main-header svg .cls-2,
.main-header svg .cls-4 {
  opacity: 0.5;
}
.main-header svg .cls-3 {
  fill: #fbf8c4;
  opacity: 1;
}
.main-header .logo-container {
  position: absolute;
  top: 60px;
  text-align: center;
}
.main-header .logo-container .logo {
  margin: auto;
  margin-bottom: -15px;
  width: 50%;
}
.main-header .logo-container .logo svg {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 100%;
}
.main-header .logo-container figcaption h1 {
  margin: 20px 15px;
  font-family: "Jakarta Vise";
  font-weight: 100;
  font-size: 80px;
  margin-right: 15px;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.822);
}
.main-header .logo-container .quote {
  font-family: "JMH Typewriter";
  font-weight: lighter;
  margin-top: -30px;
}
.main-header .logo-container .quote #words {
  font-size: 20px;
  padding: 0 10px;
  margin-top: 0px;
}
.main-header .logo-container .quote #words #word1 {
  position: absolute;
  margin-left: -2100px;
  -webkit-animation: slidein1 3s;
          animation: slidein1 3s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.main-header .logo-container .quote #words #word2 {
  position: absolute;
  margin-left: -2000px;
  -webkit-animation: slidein2 2s;
          animation: slidein2 2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  padding-bottom: 10px;
}
.main-header .logo-container .quote #words #word3 {
  position: absolute;
  margin-left: -2000px;
  -webkit-animation: slidein3 3s;
          animation: slidein3 3s;
  -webkit-animation-delay: 2;
          animation-delay: 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (max-width: 380px) {
  .main-header .logo-container .quote #words {
    font-size: 5vw;
    margin: 0 20px;
  }
}
@media screen and (max-width: 380px) {
  .main-header .logo-container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 380px) {
  .main-header {
    height: 65vh;
  }
}
@media screen and (max-width: 786px) {
  .main-header {
    height: 60vh;
  }
}
.future {
  grid-area: b;
}
.future figure {
  font-family: "Open Sans", sans-serif;
}
.future figure div {
  width: 70%;
  margin: 40px auto;
}
.future figure div img {
  width: 100%;
}
@media screen and (max-width: 380px) {
  .future figure div {
    width: 80%;
    margin: 30px auto;
  }
}
.future figure figcaption {
  margin-top: 10px;
  padding: 0 40px;
  display: flex;
  justify-content: center;
}
.future figure figcaption div {
  width: 40vw;
  padding: 0 60px;
  margin: 10px;
}
.future figure figcaption div p {
  font-size: 15px;
}
@media screen and (max-width: 380px) {
  .future figure figcaption div {
    width: 100%;
    padding: 5px;
  }
  .future figure figcaption div h4 {
    font-size: 17px;
  }
}
.future figure figcaption h4 {
  margin-bottom: 10px;
  font-size: 20px;
}
@media screen and (max-width: 786px) {
  .future figure figcaption {
    padding: 0;
  }
}
@media screen and (max-width: 380px) {
  .future figure figcaption {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
  }
}

.recycle {
  grid-area: c;
}

.recycle-items {
  grid-area: d;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-columns: 13vw 13vw 13vw 13vw;
  grid-gap: 10px;
  margin: auto;
}
.recycle-items figure figcaption {
  padding: 0 5px;
}
.recycle-items figure figcaption h4 {
  margin: 10px;
  font-size: 20px;
  text-align: center;
}
.recycle-items figure figcaption p {
  font-size: 12px;
  text-align: start;
}

@media screen and (max-width: 786px) {
  .recycle-items {
    display: grid;
    grid-template-columns: 40vw 40vw;
  }
}
@media screen and (max-width: 380px) {
  .recycle-items {
    display: grid;
    grid-template-columns: 90vw;
  }
}
.contact {
  grid-area: e;
}
.contact h3 {
  line-height: 30px;
}
.contact h3 span {
  font-weight: 600;
}

@media screen and (max-width: 380px) {
  .contact h3 {
    line-height: 30px;
  }
}
.map {
  grid-area: f;
  display: flex;
  justify-content: center;
}
.map #map {
  width: 100%;
  margin: 0 20px;
}
.map #map header {
  text-align: center;
  margin: 10px;
}
.map #map header h2 {
  font-size: 30px;
}

.form {
  grid-area: g;
  display: flex;
  justify-content: center;
}
.form form {
  margin: auto;
  width: 35vw;
}
.form form h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.form form input {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}
.form form .sendnumber {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 5px 0;
  margin-bottom: 5px;
}
.form form .sendnumber label {
  margin-top: 5px;
}
.form form .sendnumber #number {
  height: 30px;
}
.form form .sendnumber #accept {
  width: 40px;
  height: 30px;
}
.form form textarea {
  width: 100%;
  height: 200px;
}
.form form #send {
  width: 50%;
  margin: 35px 0;
  height: 40px;
  font-size: 15px;
  font-weight: 300;
}

@media screen and (max-width: 786px) {
  .form {
    margin: auto;
  }
  .form form {
    width: 50vw;
  }
}
@media screen and (max-width: 380px) {
  .form {
    margin: auto;
  }
  .form form {
    width: 100vw;
  }
}
.item8 {
  grid-area: h;
}

.item9 {
  grid-area: i;
}

.item10 {
  grid-area: j;
}

.item11 {
  grid-area: k;
}

#burger-menu {
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  margin: 50px 40px 20px 20px;
  height: 27px;
  width: 27px;
  overflow: visible;
  z-index: 2;
  background: none;
}
#burger-menu span {
  background: black;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  z-index: 3;
  transition: 0.3s ease-in-out;
  width: 27px;
}
#burger-menu span:before {
  background: black;
  display: block;
  height: 2px;
  position: absolute;
  transition: 0.3s ease-in-out;
  content: "";
  left: 0px;
  top: -10px;
  width: 27px;
}
#burger-menu span:after {
  background: black;
  display: block;
  height: 2px;
  position: absolute;
  transition: 0.3s ease-in-out;
  content: "";
  left: 0px;
  top: 10px;
  width: 27px;
}

#burger-menu.close {
  margin: 50px 40px 20px 20px;
}
#burger-menu.close span {
  transform: rotate(-45deg);
  width: 27px;
  background: white;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
  background: white;
}
#burger-menu.close span:after {
  background: white;
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
#menu li {
  list-style: none;
}
#menu a {
  color: #fff;
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}

#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.74);
}

.cls-1 {
  fill: #dbc77a;
}

.cls-2 {
  fill: #b4a364;
}

.cls-3 {
  fill: #ffe78e;
}

.cls-4 {
  fill: #99c547;
}

.cls-5 {
  fill: #b9ee56;
}

.cls-6 {
  fill: #e8ff6e;
}

.cls-7 {
  fill: #769837;
}

.cls-8 {
  fill: #2c2c2c;
}